.home-page {
  .techstack {
    .filters {
      label:has(input[type='radio']:checked) {
        color: white;
      }
    }
  }

  .my-works {
    .work {
      transform-style: preserve-3d;
    }

    .work-title {
      .char {
        @apply text-d-text lg:text-d-subtext;
      }
    }
  }
}
