@use '../base/mixings' as mix;

/* menu button */

@mixin icon($height, $width) {
  transition:
    background-color 0.5s,
    transform 0.5s;
  position: absolute;
  height: $height;
  width: $width;
  top: calc(50% - $height / 2);
  background-color: currentColor;
}

@mixin icon-before($height, $width, $top) {
  transition:
    background-color 0.5s,
    transform 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: currentColor;
  content: '';
  top: $top;
  left: 0;
}

@mixin icon-after($height, $width, $top) {
  transition:
    background-color 0.5s,
    transform 0.5s;
  position: absolute;
  width: $width;
  height: $height;
  background-color: currentColor;
  content: '';
  top: $top;
  left: 0;
}

.menu-btn {
  --width: 34px;
  --height: 26px;
  --part-width: calc(var(--width) / 2);
  --part-height: 4px;
  --part-top: calc(var(--height) / 2 - var(--part-height) / 2);
  --border-radius: 9999px;

  width: var(--width);
  height: var(--height);

  .icon-left {
    @include icon(var(--part-height), var(--part-width));
    left: 0px;
    transition: background-color 0.5s;

    &:before {
      @include icon-before(var(--part-height), var(--part-width), calc(-1 * var(--part-top)));
      transform-origin: left;
    }

    &:after {
      @include icon-after(var(--part-height), var(--part-width), var(--part-top));
      transform-origin: left;
    }
  }

  .icon-right {
    @include icon(var(--part-height), var(--part-width));
    left: calc(var(--width) / 2);
    transition: background-color 0.5s;

    &:before {
      @include icon-before(var(--part-height), var(--part-width), calc(-1 * var(--part-top)));
      transform-origin: right;
    }

    &:after {
      @include icon-after(var(--part-height), var(--part-width), var(--part-top));
      transform-origin: right;
    }
  }
}

.menu-btn.open {
  .icon-left {
    background-color: transparent;

    &:before {
      background-color: theme('colors.d.text');
      transform: rotateZ(45deg) translate(4px, -4px);
    }

    &:after {
      background-color: theme('colors.d.text');
      transform: rotateZ(-45deg) translate(4px, 4px);
    }
  }

  .icon-right {
    background-color: transparent;

    &:before {
      background-color: theme('colors.d.text');

      transform: rotateZ(-45deg) translate(-4px, -4px);
    }

    &:after {
      background-color: theme('colors.d.text');
      transform: rotateZ(45deg) translate(-4px, 4px);
    }
  }
}
/**/

/* theme button */
.theme-btn {
  --width: 72px;
  --height: 36px;
  --padding: 4px;
  --after-height: calc(var(--height) - var(--padding) * 2);
  --after-width: var(--after-height);

  width: var(--width);
  height: var(--height);
  position: relative;
  padding: var(--padding);

  .icon {
    svg {
      width: 22px;
      height: 22px;
      transition: transform 0.5s;
      @apply fill-text dark:fill-d-text;
    }
  }

  .icon-sun svg {
    transform: scale(0.75) translateX(3px);
    @apply dark:animate-[sunicon_8s_linear_infinite];
    -webkit-animation-play-state: paused !important;
    animation-play-state: paused !important;
    -webkit-animation-delay: 0.5s !important;
    animation-delay: 0.5s !important;
  }

  .icon-moon svg {
    transform: scale(0.75) translateX(-3px);
  }

  &:hover {
    .icon-sun svg {
      -webkit-animation-play-state: running !important;
      animation-play-state: running !important;
    }
  }

  &::after {
    position: absolute;
    content: '';
    top: calc(50% - var(--after-width) / 2);
    left: var(--padding);
    width: var(--after-width);
    height: var(--after-height);
    border-radius: 9999px;
    transition:
      left 0.5s,
      background-color 0.5s;
    @apply bg-gray-700 dark:bg-gray-300;
  }

  &[data-dark='true']::after {
    left: calc(100% - (var(--after-width) + var(--padding)));
  }

  &[data-dark='true'] .icon-sun svg {
    transform: scale(1) translateX(0px);
  }

  &[data-dark='false'] .icon-moon svg {
    transform: scale(1) translateX(0px);
  }
}
/**/

/* custom button */
.custom-button,
.custom-link {
  transform-style: preserve-3d;

  .flair::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
    @apply bg-text dark:bg-d-text;
  }

  .custom-button-content {
    display: inline-block;
    color: transparent;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;

    &::before {
      content: attr(data-content);
      display: block;
      position: absolute;
      top: 0;
      transform-origin: right bottom;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      @apply text-text dark:text-d-text;
    }

    &::after {
      content: attr(data-content);
      display: block;
      position: absolute;
      top: 105%;
      transform: skewY(7deg);
      transform-origin: left top;
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      @apply text-text dark:text-d-text;
    }
  }
}

.custom-button:hover,
.custom-link:hover {
  @apply text-d-text dark:text-text;

  .flair::after {
    transform: scale(1);
  }

  .custom-button-content {
    transform: translateY(-105%);

    &::before {
      transform: skewY(7deg);
      @apply text-d-text dark:text-text;
    }

    &::after {
      transform: skewY(0);
      @apply text-d-text dark:text-text;
    }
  }
}
/**/

/* custom icon button */
.custom-icon-button {
  .flair::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 0.5s;
    @apply bg-text dark:bg-d-text;
  }

  .custom-icon-button-1 {
    display: inline-block;
    color: transparent;
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .custom-icon-button-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }

  .custom-icon-button-3 {
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
  }
}

.custom-icon-button.down {
  .custom-icon-button-2 {
    top: -150%;
    transform: translate(-50%, -50%);
  }

  .custom-icon-button-3 {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.custom-icon-button:hover {
  @apply text-d-text dark:text-text;

  .flair::after {
    transform: scale(1);
  }

  .custom-icon-button-2 {
    transform: translate(-50%, -150%);
  }

  .custom-icon-button-3 {
    transform: translate(-50%, -150%);
  }
}

.custom-icon-button.down:hover {
  .custom-icon-button-2 {
    transform: translate(-50%, 150%);
  }

  .custom-icon-button-3 {
    transform: translate(-50%, 150%);
  }
}
/**/

.underline-button {
  &::before {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    @apply border-b-2 border-dashed border-text dark:border-d-text;

    @include mix.min-width(sm) {
      bottom: -3px;
    }
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: transform 0.5s cubic-bezier(0.16, 1, 0.3, 1);
    @apply border-b-2 border-solid border-text dark:border-d-text;

    @include mix.min-width(sm) {
      bottom: -3px;
    }
  }

  &:hover::after {
    transform: scaleX(1);
  }
}
