@use '../base/mixings' as mix;

.reveal-text {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 180%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 180%, 0% 100%);

  .word,
  .char {
    transform: translateY(60px);
    opacity: 0;
  }
}
