.reveal-text {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 160%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 100% 160%, 0% 100%);

  .char {
    transform: translateY(115px);
    opacity: 0;
    visibility: hidden;
  }
}

.reveal-text.multiple {
  .char {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }

  .word {
    transform: translateY(115px);
    opacity: 0;
    visibility: hidden;
  }
}
