@use './mixings' as mix;

body {
  @apply bg-background font-body text-text transition-colors duration-500 dark:bg-d-background dark:text-d-text;
  font-stretch: normal;
}

a,
button,
input,
label {
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: white;
  background: theme('colors.primary');
}

::selection {
  color: white;
  background: theme('colors.primary');
}

:focus-visible {
  outline: 2px solid theme('colors.primary');
  outline-offset: 2px;

  @include mix.max-width(sm) {
    outline: 1px solid theme('colors.primary');
    outline-offset: 1px;
  }
}

.app-toast-component {
  font-family: var(--font-montserrat), system-ui, sans-serif;
  // background: var(--toaster-background) !important;
  // color: var(--toaster-color) !important;
  // box-shadow: var(--toaster-box-shadow) !important;
  // padding: 16px 20px !important;
}
