@use './mixings' as mix;

body {
  @apply bg-background font-body text-text transition-colors duration-200 dark:bg-d-background dark:text-d-text;
  font-stretch: normal;

  // scrollbar
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-track {
    @apply bg-[#f1f1f1] dark:bg-[#424242];
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-neutral-300 dark:bg-neutral-500;
  }

  &::-webkit-scrollbar-thumb:hover {
    @apply bg-neutral-400;
  }

  &::-webkit-scrollbar-thumb:active {
    @apply bg-neutral-500 dark:bg-neutral-300;
  }
}

a,
button,
input,
label {
  -webkit-tap-highlight-color: transparent;
}

::-moz-selection {
  color: white;
  background: theme('colors.primary');
}

::selection {
  color: white;
  background: theme('colors.primary');
}

:focus-visible {
  outline: 1px solid theme('colors.primary');
  outline-offset: 1px;

  @include mix.min-width(sm) {
    outline: 2px solid theme('colors.primary');
    outline-offset: 2px;
  }
}

@media (prefers-reduced-motion) {
  *,
  *::before,
  *::after {
    animation: none !important;
    transition: none !important;
  }
}

/* react hot toast */
@keyframes toast-anim-enter {
  0% {
    transform: translate3d(0, 25%, 0) scale(0.98);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes toast-anim-leave {
  0% {
    transform: translate3d(0, 0, 0) scale(1);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, 25%, 0) scale(0.98);
    opacity: 0;
  }
}

.app-toast-component {
  @apply relative font-body;

  // font-family: ;
  font-family: var(--font-montserrat), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji' !important;
  max-width: 90vw !important;
  box-shadow: none !important;
  border-radius: 0.5rem !important;
  background-color: var(--toaster-bg) !important;
  border: var(--toaster-border) !important;
  color: var(--toaster-color) !important;
  padding: 16px 20px !important;

  @include mix.min-width(sm) {
    min-width: 20rem !important;
    max-width: 40rem !important;
  }

  .toast-bar-inner {
    .flair {
      clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
    }
  }
}

.app-toast-component:hover {
  .toast-bar-inner {
    .flair {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
  }
}
/**/

/* loader styles */
@keyframes bblFadInOut {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: bblFadInOut 2s infinite ease-in-out;
}
.loader {
  @apply text-[5px] text-text dark:text-d-text lg:text-[7px];
  position: relative;
  text-indent: -9999em;
  transform: translateY(-100%) translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
/**/

/* modal dialog */
.modal-dialog {
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 0.7s ease,
    transform 0.7s ease;
}

.modal-dialog[open] {
  display: block;
}

.modal-dialog.show {
  opacity: 1;
  transform: translateY(0);
}

.modal-dialog.hide {
  opacity: 0;
  transform: translateY(30px);
}

.modal-dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.7s ease;
}

.modal-dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
/**/

/* image view dialog */
.image-view-dialog {
  opacity: 0;
  transform: scale(0.95);
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 9999;
  position: fixed;
}

.image-view-dialog:modal {
  max-width: 100vw;
  max-height: 100svh;
}

.image-view-dialog[open] {
  display: block;
}

.image-view-dialog.show {
  opacity: 1;
  transform: scale(1);
}

.image-view-dialog.hide {
  opacity: 0;
  transform: scale(0.95);
}

.image-view-dialog::backdrop {
  background: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
}

.image-view-dialog[open]::backdrop {
  background: rgba(0, 0, 0, 0.5);
}
/**/

.container-text {
  h1,
  h2,
  h3,
  h4 {
    text-wrap: balance;
    overflow-wrap: break-word;
    line-height: 1.5;
  }

  h1 {
    @apply pb-2 text-4xl font-medium sm:pb-4 sm:text-5xl [&:not(:first-child)]:pt-14 sm:[&:not(:first-child)]:pt-16;
  }

  h2 {
    @apply pb-1 text-3xl font-medium sm:pb-3 sm:text-4xl [&:not(:first-child)]:pt-12 sm:[&:not(:first-child)]:pt-14;
  }

  h3 {
    @apply pb-0 text-2xl font-medium sm:pb-2 sm:text-3xl [&:not(:first-child)]:pt-10 sm:[&:not(:first-child)]:pt-12;
  }

  h4 {
    @apply pb-0 text-xl font-medium sm:pb-1 sm:text-2xl [&:not(:first-child)]:pt-8 sm:[&:not(:first-child)]:pt-10;
  }

  p {
    @apply break-words text-lg sm:text-xl [&:not(:first-child)]:pt-6;
    line-height: 1.65;
  }

  strong {
    font-weight: 600;
  }

  ul,
  ol {
    @apply ml-6 list-disc pt-6 sm:ml-8;

    li {
      @apply break-words text-lg sm:text-xl [&:not(:first-child)]:pt-3;
      line-height: 1.65;
    }
  }

  ol {
    @apply list-decimal;
  }

  hr {
    @apply mb-16 mt-40;
  }

  pre {
    @apply mb-10 mt-20 overflow-auto rounded-sm px-7 pb-7 pt-10 text-sm sm:mb-12 sm:mt-24 sm:text-base;
    line-height: 1.65;
    outline: 1px solid var(--clr-text);
    outline-offset: 0.313rem; // 5px
    background: #202329;
  }

  iframe {
    @apply mb-6 mt-20 max-w-full rounded-sm border-none sm:mb-8 sm:mt-24;
  }

  a {
    @apply text-primary;
  }

  a:has(> img:only-child) {
    display: block;
    width: fit-content;
  }

  figure > img,
  p > img {
    @apply mx-auto my-0 h-auto w-full max-w-full rounded-sm;
  }

  figure,
  img {
    @apply mb-8 mt-20 sm:mb-12 sm:mt-24;
  }

  figure figcaption,
  a figcaption {
    @apply mt-2 text-center text-sm sm:text-base;
  }

  table {
    @apply min-w-[25.75rem] max-w-full font-normal;

    th {
      @apply border border-gray-300 px-4 py-2 font-semibold opacity-90 dark:border-gray-600;
    }

    td {
      @apply border border-gray-300 px-4 py-2 dark:border-gray-600;
    }
  }
}
