@use './mixings' as mix;

:root {
  --header-height: 80px;
  --header-content-height: calc(var(--header-height) * 0.75);
  --footer-height: 100px;
  --404-height: calc(100vh - (var(--header-height) + var(--footer-height)));
}

@include mix.max-width(sm) {
  :root {
    --header-height: 100px;
    --header-content-width: 98vw;
    --404-height: calc(100svh - (var(--header-height) + var(--footer-height)));
  }
}
