@tailwind base;
@tailwind components;

@layer base {
  @import './base';
}

@layer components {
  @import './components';
  @import './pages';
}

@tailwind utilities;
@layer utilities {
  /* custom containers */
  .container-wide {
    max-width: 1536px;
    margin-inline: auto;
  }

  /**/

  /* headings */
  .heading-1 {
    @apply text-6xl font-medium sm:text-8xl lg:text-9xl;
  }

  .heading-2 {
    @apply text-4xl font-medium sm:text-6xl;
  }
  /**/

  /* paragraphs */
  .paragraph-1 {
    @apply pb-8 text-xl leading-relaxed sm:text-2xl sm:leading-relaxed;
  }

  .paragraph-2 {
    @apply pb-6 text-lg leading-relaxed sm:text-xl sm:leading-relaxed;
  }
  /**/

  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }
}

@import './locomotive.scss';
