@tailwind base;
@tailwind components;

@layer base {
  @import './base';
}

@layer components {
  @import './components';
  @import './pages';
}

@tailwind utilities;
@layer utilities {
  /* containers */
  .container {
    @apply mx-auto max-w-[80rem] px-4 sm:px-8 2xl:px-0;
  }

  .container-wide {
    @apply mx-auto max-w-[96rem];
  }

  .container-text {
    @apply mx-auto max-w-[48.75rem] px-4 sm:px-8 2xl:px-0;
  }

  /**/

  /* headings */
  .heading-1 {
    @apply text-6xl font-medium sm:text-8xl lg:text-9xl;
  }

  .heading-2 {
    @apply text-3xl font-medium sm:text-6xl;
  }

  .heading-3 {
    @apply text-xl font-medium sm:text-3xl;
  }
  /**/

  /* paragraphs */
  .paragraph-1 {
    @apply pb-8 text-xl leading-relaxed sm:text-2xl sm:leading-relaxed;
  }

  .paragraph-2 {
    @apply pb-6 text-lg leading-relaxed sm:text-xl sm:leading-relaxed;
  }
  /**/

  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  // custom thin scrollbar
  .scrollbar-thin {
    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      @apply rounded-lg bg-[#f1f1f1] dark:bg-[#424242];
    }

    &::-webkit-scrollbar-thumb {
      @apply rounded-lg bg-neutral-300 dark:bg-neutral-500;
    }

    &::-webkit-scrollbar-thumb:hover {
      @apply bg-neutral-400;
    }

    &::-webkit-scrollbar-thumb:active {
      @apply bg-neutral-500 dark:bg-neutral-300;
    }
  }

  .skeleton {
    @apply rounded-full bg-skeleton dark:bg-d-skeleton;
  }

  // screen reader only content
  .sr-only {
    position: absolute;
    width: 0.063rem; // 1px
    height: 0.063rem;
    padding: 0;
    margin: -0.063rem;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  // honey pot field
  .honey-pot {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    z-index: -1;
  }
}

@import './locomotive.scss';
