@tailwind base;
@tailwind components;

@layer base {
  @import './base';
}

@layer components {
  @import './components';
  @import './pages';
}

@tailwind utilities;
@layer utilities {
  /* containers */
  .container {
    @apply mx-auto max-w-[1280px] px-4 sm:px-8 2xl:px-0;
  }

  .container-wide {
    @apply mx-auto max-w-[1536px];
  }

  /**/

  /* headings */
  .heading-1 {
    @apply text-6xl font-medium sm:text-8xl lg:text-9xl;
  }

  .heading-2 {
    @apply text-3xl font-medium sm:text-6xl;
  }

  .heading-3 {
    @apply text-xl font-medium sm:text-3xl;
  }
  /**/

  /* paragraphs */
  .paragraph-1 {
    @apply pb-8 text-xl leading-relaxed sm:text-2xl sm:leading-relaxed;
  }

  .paragraph-2 {
    @apply pb-6 text-lg leading-relaxed sm:text-xl sm:leading-relaxed;
  }
  /**/

  .hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  .skeleton {
    @apply bg-skeleton dark:bg-d-skeleton rounded-full;
  }
}

@import './locomotive.scss';
